/* @import url('https://fonts.googleapis.com/css?family=Nunito'); */
/* @import 'variables'; */
/* @import '~bootstrap/scss/bootstrap'; */
body {
  overflow-y: auto !important;
  padding: 0 !important;
}

#chat-widget-toggle {
  position: fixed;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #1396e1;
  color: #FFF;
  z-index: 998;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #000000a3;
}

[dir=ltr] #chat-widget-toggle {
  right: 10px;
}

[dir=rtl] #chat-widget-toggle {
  left: 10px;
}

#chat-widget {
  position: fixed;
  bottom: 20px;
  width: 300px;
  max-height: 100vh;
  height: 400px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #9292923b;
  background-color: #fff;
  z-index: 999;
  opacity: 0.5;
  transition: all 0.3s ease;
}

[dir=ltr] #chat-widget {
  right: 20px;
  transform: translate3d(300px, 0px, 0);
}

[dir=rtl] #chat-widget {
  left: 20px;
  transform: translate3d(-340px, 0px, 0);
}

.active-chat-widget {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}

[dir=ltr] .contacts-list {
  padding: 2px 0px 2px 5px;
}

[dir=rtl] .contacts-list {
  padding: 2px 5px 2px 0;
}

.contacts-list-header {
  display: flex;
  border-bottom: 1px solid #DDD;
  color: white;
  align-items: center;
  background-color: #535d5f;
}

.contacts-list-header > div {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.contacts-list-header > div:nth-of-type(1) {
  width: 100%;
}

.contacts-list-header > div:nth-of-type(2) {
  width: 40px;
  justify-content: center;
  cursor: pointer;
}

#chat-widget h1 {
  color: #111;
}

#chat-widget textarea {
  min-height: 40px;
  padding: 5px;
}

#chat-widget .name {
  font-size: 16px;
  text-transform: capitalize;
}

#chat-widget .email {
  font-size: 13px;
  text-transform: capitalize;
}

.chat-widget-contact-list-profile-picture {
  width: 70% !important;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ps__rail-y {
  opacity: 1 !important;
  background-color: #fff !important;
}

[dir=rtl] .ps__thumb-y {
  left: 2px !important;
  right: auto !important;
}

/* [dir="rtl"] .ps__thumb-y {
  left: 2px !important;
  right: auto !important;
} */
.swal2-validation-message {
  margin-top: 15px;
}

.swal2-actions.swal2-loading :not(.swal2-styled).swal2-confirm::after {
  position: relative;
  right: 7px;
  margin: 0 !important;
}

.dataTables_length > label, .dataTables_filter > label {
  display: flex;
  align-items: center;
}

.dataTables_length > label > select {
  margin: 0 8px;
}

.dataTables_filter > label > input {
  height: 36px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #b2b2b2;
  font-family: "Titillium Web", sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  margin: 0 8px;
  padding: 0 10px;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid rgba(50, 206, 99, 0.544) !important;
}

.dataTables_filter {
  margin-bottom: 15px;
}

.dataTables_wrapper th {
  background: #2b373a;
  color: #00d7b3;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
  margin-top: 50px;
  z-index: 1;
}

.dataTable {
  border: 1px solid #00d7b3 !important;
}

.dataTable td, .dataTable th {
  border: 1px solid #00d7b31c;
}

[dir=ltr] .dataTable thead th {
  text-align: left !important;
}

[dir=rtl] .dataTable thead th {
  text-align: right !important;
}

.dt-btn {
  box-shadow: 1px 1px 3px grey;
  display: inline-flex;
  align-items: center;
  margin: 0 7px;
  padding: 5px 10px 4px;
  border-radius: 3px;
}

.dt-btn > svg {
  width: 22px;
  height: 22px;
  font-size: 22px;
}

.dt-btn-success {
  background-color: #00d7b3;
}

.dt-btn-danger {
  background-color: #f27474;
}

.dt-btn-warning {
  background-color: orange;
}

.dt-btn-chat {
  background-color: #585858;
  color: #00d7b3;
}

.custom-tooltip {
  background-color: #0ae7c2 !important;
  color: black !important;
}

.tippy-box[data-placement^=top] > .tippy-arrow::before {
  border-top-color: tomato !important;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow::before {
  border-bottom-color: tomato !important;
}

.tippy-box[data-placement^=right] > .tippy-arrow::before {
  border-right-color: tomato !important;
}

.tippy-box[data-placement^=left] > .tippy-arrow::before {
  border-left-color: tomato !important;
}

.dashboard_content {
  position: relative;
  z-index: 1;
}

.btn {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1.2em;
  margin: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFF;
  text-align: center;
  transition: all 0.2s;
  font-size: 18px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px red, 0px 0px 0px black, 0px 1px 3px #0000007d;
}

.btn-r {
  border-radius: 2em;
}

.btn-primary {
  background-color: #22caae;
}

.btn-primary:hover {
  background-color: #09957e;
}

.btn-cancel {
  background-color: #f27474;
}

.btn-cancel:hover {
  background-color: #e45959;
}

.hdr {
  border-bottom: 1px solid #DDD;
  margin-bottom: 30px;
}

.hdr .swal2-title {
  width: 100%;
  text-align: justify;
  font-size: 24px;
  padding: 10px 0 0px 0;
}

.input-file-style input {
  width: 100%;
  border: 1px dotted #06b99b;
  padding: 5px;
  border-radius: 5px;
}